@font-face {
    font-family: 'fontawesome';
    src:url('../../../fonts/fontawesome-webfont.eot');
    src:url('../../../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/fontawesome-webfont.svg#fontawesome') format('svg'),
        url('../../../fonts/fontawesome-webfont.woff') format('woff'),
        url('../../../fonts/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.fa-play:before {
    margin-right: -5px;
    font-family: 'fontawesome';
    content: "\f04b";
}

.fa-pause:before {
    margin-right: -5px;
    font-family: 'fontawesome';
    content: "\f04c";
}

.fa-volume-down:before{
    
    font-family: 'fontawesome';
    content: "\f027";

} 

.fa-volume-up:before{
    
    
    font-family: 'fontawesome';
    content: "\f028";

} 